@model ElegantHome.Web.ViewModels.WishList.WishlistViewModel

<div id="main-wrapper" class="section">

    <div class="page-banner-section section" style="background-image: url('/images/colorful-balloon-royalty-free-image-625672226-1532451282.jpg')">
        <div class="container">
            <div class="row">

                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>Wishlist</h1>
                </div><!-- Page Title End -->

            </div>
        </div>
    </div><!-- Page Banner Section End-->
    <!-- Wishlist Section Start-->
    <div class="wishlist-section section pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="table-responsive mb-30">
                        <table class="table cart-table text-center">

                            <!-- Table Head -->
                            <thead>
                                <tr>
                                    <th class="number">#</th>
                                    <th class="image">image</th>
                                    <th class="name">product name</th>
                                    <th class="qty">stock status</th>
                                    <th class="price">price</th>
                                    <th class="total">add to cart</th>
                                    <th class="remove">remove</th>
                                </tr>
                            </thead>

                            <!-- Table Body -->
                            <tbody>
                                @foreach (var item in Model.WishLists)
                                {
                                    <tr>
                                        <td><span class="cart-number">@item.Id</span></td>


                                        <td><a href="#" class="cart-pro-image"><img src="img/product/1.jpg" alt="" /></a></td>
                                        <td><a href="#" class="cart-pro-title">@item.Name</a></td>
                                        <td>
                                            <p class="stock in-stock">in stock</p>
                                        </td>
                                        <td>
                                            <p class="cart-pro-price">@item.Price</p>
                                        </td>
                                        <td><button class="wl-add-cart-btn">add to cart</button></td>
                                        <td>
                                            <a asp-controller="User" asp-action="RemoveFromWishlist" asp-route-productId="@item.Id">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fas fa-trash fa-stack-1x fa-inverse" onclick="return confirm('Are you sure want do delete Product:')"></i>
                                                </span>
                                            </a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- Wishlist Section End-->
</div>
