/*----------------------------------------*/
/*  12.  Blog Section
/*----------------------------------------*/
.blog-section {}

/*-- Blog Item --*/
.blog-item {
    
    /*-- Image --*/
    & .image {
        position: relative;
        display: block;
        &::before {
            background-color: rgba($white, 0.1);
            content: "";
            height: 0;
            left: 0;
            margin: auto;
            position: absolute;
            top: 0;
            transition: all 0.3s ease-out 0s;
            width: 0;
            z-index: 1;
        }
        &::after {
            background-color: rgba($white, 0.1);
            bottom: 0;
            content: "";
            height: 0;
            position: absolute;
            right: 0;
            transition: all 0.3s ease-out 0s;
            width: 0;
        }
        & img {
            width: 100%;
        }
    }
    & img {
        width: 100%;
    }
    &:hover .image::before, &:hover .image::after {
        height: 100%;
        transition: all 0.4s ease-out 0s;
        width: 100%;
    }
    
    /*-- Image --*/
    & .content {
        padding-top: 23px;
        & .publish {
            font-size: 12px;
            font-weight: 700;
            color: $body-color;
            display: flex;
            & span {
                color: $heading-color;
                margin-right: 5px;
            }
        }
        & .title {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 17px;
            & a {
                &:hover {
                    color: $theme-color-two;
                }
            }
        }
        & p {}
        & a.read-more {
            font-size: 14px;
            font-style: italic;
            line-height: 12px;
            padding-bottom: 3px;
            color: $theme-color-two;
            display: inline-flex;
            border-bottom: 1px solid $theme-color-two;
            &:hover {
                color: $heading-color;
                border-color: $heading-color;
            }
        }
    }
}