/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/

/*-- Common Style --*/
body{
    background-color: #eff2f5;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    font-family: $lora;
    color: $body-color;
}
h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-weight: bold;
    margin-top: 0;
}
p:last-child {
    margin-bottom: 0;
}
a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
}
a, i, button, img, input, span,
*:before, *:after {
    transition: all 0.3s ease 0s;
}
*:focus {
    outline: none !important;
}
a:focus {
    color: inherit;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
button, input[type="submit"] {
    cursor: pointer;
}
ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*-- Common Class --*/
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}
.section {
    float: left;
    width: 100%;
}

/*-- Background Color --*/
.bg-gray {
    background-color: $bg-gray !important;
}
.bg-dark {
    background-color: $bg-dark !important;
}

/*-- Custom Row --*/
.row-5 {
    margin-left: -5px;
    margin-right: -5px;
    & [class*="col"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*-- Container Width For Mobile Device --*/
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media #{$large-mobile}{
    .container {
        width: 450px;
    }
}
@media #{$small-mobile}{
    .container {
        width: 300px;
    }
}

/*-- Margin Top --*/
@for $i from 1 through 40 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
}

/*-- Margin Bottom --*/
@for $i from 1 through 40 {
    .mb-#{5 * $i}{margin-bottom: 5px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 40 {
    .pt-#{5 * $i}{padding-top: 5px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 40 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

/*-- Input Placeholder --*/
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*-- Scroll Up --*/
#scrollUp {
    width: 40px;
    height: 40px;
    background-color: $theme-color-two;
    color: $white;
    right: 40px;
    bottom: 40px;
    text-align: center;
    overflow: hidden;
    @media #{$large-mobile}{
        display: none !important;
    }
    & i {
        display: block;
        line-height: 40px;
        font-size: 24px;
    }
    &:hover i {
        animation-name: fadeInUp;
        animation-duration:1s;
        animation-fill-mode:both;
        animation-iteration-count: infinite;
    }
}
