/*----------------------------------------*/
/*  2.  Header Section
/*----------------------------------------*/
.header-section {
    background-color: $white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
}

/*-- Header Top Wrapper --*/
.header-top-wrapper {
    padding: 25px 0;
    border-bottom: 1px dashed #bababa;
}

/*-- Header Social --*/
.header-social {
    display: flex;
    @media #{$large-mobile}{
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    & a {
        display: inline-flex;
        margin: auto 20px auto 0;
        color: $body-color;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $theme-color-one;
        }
        & i {
            font-size: 16px;
            display: flex;
        }
    }
}

/*-- Header Logo --*/
.header-logo {
    display: flex;
    & .logo {
        margin: auto;
        & img {}
    }
}

/*-- Header Account Menu --*/
.account-menu {
    display: flex;
    @media #{$large-mobile}{
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    & ul {
        display: inline-flex;
        margin: auto 0 auto auto;
        @media #{$large-mobile}{
            position: relative;
        }
        & > li {
            margin-left: 20px;
            position: relative;
            @media #{$large-mobile}{
                position: static;
            }
            &:first-child {
                margin-left: 0;
            }
            & > a {
                font-size: 11px;
                font-weight: 700;
                text-transform: uppercase;
                color: $body-color;
                position: relative;
                &:hover {
                    color: $theme-color-one;
                }
                & i {
                    font-size: 16px;
                    margin-right: 8px;
                }
                & span.num {
                    position: absolute;
                    top: -3px;
                    right: 0;
                    font-size: 11px;
                    display: flex;
                    line-height: 14px;
                }
            }
            &.show {
                & > a {
                    color: $theme-color-one;
                }
            }
        }
    }
}

/*-- Mini Cart Brife --*/
.mini-cart-brief {
    background-color: #fff;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    display: block;
    left: auto !important;
    margin-top: 40px;
    opacity: 0;
    top: 100% !important;
    padding: 20px;
    right: 0 !important;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 280px;
    transform: translate(0px) !important;
    z-index: -99999;
    @media #{$large-mobile}{
        right: -20% !important;
    }
}
.show .mini-cart-brief  {
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
    z-index: 9999999;
}

/*-- Mini Cart Products --*/
.all-cart-product {
    & .single-cart {
        margin-bottom: 15px;
        & .cart-image {
            display: block;
            float: left;
            margin-right: 15px;
            width: 65px;
            & a {
                display: block;
                & img {
                    width: 100%;
                }
            }
        }
        & .cart-info {
            overflow: hidden;
            padding-right: 20px;
            position: relative;
            & h5 {
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                margin-bottom: 5px;
                text-transform: capitalize;
                & a {
                    color: $heading-color;
                    &:hover {
                        color: $theme-color-one;
                    }
                }
            }
            & p {
                margin: 0;
                font-size: 12px;
            }
            & .cart-delete {
                line-height: 18px;
                padding: 0;
                position: absolute;
                color: $body-color;
                right: 0;
                top: 0;
                & i {
                    display: block;
                    font-size: 16px;
                }
                &:hover {
                    color: $theme-color-one;
                    & i {}
                }
            }
        }
    }
}
/*-- Cart Total --*/
.cart-totals {
    margin-bottom: 15px;
    & h5 {
        color: $heading-color;
        display: block;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
        &  span {
            display: block;
            float: right;
        }
    }
}
/*-- Cart Button --*/
.cart-bottom {
    text-align: center;
    & a {
        background-color: $theme-color-one;
        color: $white;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        height: 36px;
        line-height: 24px;
        padding: 7px 15px;
        text-transform: uppercase;
        width: 100%;
        &:hover {
            background-color: darken($theme-color-one, 5);
        }
    }
}


/*-- Header bottom --*/
.header-bottom {
    background-color: $white;
}

/*-- Header Bottom Logo --*/
.header-bottom-logo {
    display: none;
    float: left;
    & .logo {
        display: flex;
        width: 80px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
}

/*-- Main Menu --*/
.main-menu {
    float: left;
    transition: all 0.3s ease 0s;
    @media #{$large-mobile}{
        display: none !important;
    }
    & > ul {
        & > li {
            display: flex;
            float: left;
            margin-right: 44px;
            position: relative;
            @media #{$tablet-device}{
                margin-right: 30px;
            }
            &:last-child {
                margin-right: 0;
            }
            & > a {
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                color: $body-color;
                font-weight: 700;
                line-height: 30px;
                padding: 25px 0;
                @media #{$tablet-device}{
                    font-size: 13px;
                }
            }
            &:hover, &.active {
                & a {
                    color: $theme-color-one;
                }
            }
            
            /*-- Sub Menu -*/
            & .sub-menu {
                position: absolute;
                top: 100%;
                margin-top: 20px;
                left: -20px;
                text-align: left;
                padding: 15px 20px;
                background-color: $white;
                box-shadow: 0 5px 10px rgba($black, 0.15);
                width: 220px;
                z-index: -99;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease 0s;
                & li {
                    & a {
                        display: block;
                        text-transform: uppercase;
                        font-size: 12px;
                        color: $body-color;
                        font-weight: 700;
                        line-height: 30px;
                    }
                    &:hover, &.active {
                        & a {
                            color: $theme-color-one;
                        }
                    }
                }
            }
            
            /*-- Sub Menu -*/
            &:hover {
                & .sub-menu {
                    margin-top: 0;
                    z-index: 99;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

/*-- Mobile Menu --*/
.mean-push {
    display: none;
}
.mobile-menu {
    position: relative;
}
.mean-bar {
    background-color: transparent;
    min-height: auto;
    padding: 0;
    & .meanmenu-reveal {
        top: -49px;
        padding: 0;
        height: 30px;
        overflow: hidden;
        &:hover {
            color: $theme-color-one;
        }
        & i {
            font-size: 36px !important;
            display: block;
            line-height: 30px;
            margin-top: -3px;
        }
        &.meanclose {
            & i {
                font-size: 30px !important;
                margin-top: 0;
            }
        }
    }
}

/*-- Mean Nav --*/
.mean-nav {
    background-color: transparent;
    margin-top: 0;
    & ul {
        & li {
            &.mean-last {
                padding-bottom: 10px;
            }
            & a {
                display: block;
                line-height: 24px;
                padding: 8px 0;
                border-top: 1px solid #eeeeee;
                font-size: 12px;
                font-weight: 700;
                &:hover {
                    color: $theme-color-one;
                }
                &.mean-expand {
                    width: 30px;
                    top: 0;
                    padding: 0 !important;
                    border: none !important;
                    right: 0;
                    height: 42px;
                    text-align: center;
                    line-height: 42px;
                    font-size: 20px !important;
                    
                }
            }
            &:hover, &.active {
                & > a {
                    color: $theme-color-one;
                }
            }
            
            & ul {
                & li {
                    & a {
                        padding: 8px 0;
                        padding-left: 15px;
                        border-top: 1px solid #eeeeee;
                        opacity: 1;
                    }
                    & ul {
                        & li {
                            & a {
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*-- Header Search --*/
.header-search {
    float: right;
    position: relative;
    z-index: 99999;
}

/*-- Search Toggle --*/
.search-toggle {
    padding: 25px 0;
    float: right;
    background-color: transparent;
    border: none;
    color: $body-color;
    cursor: pointer;
    @media #{$large-mobile}{
        padding: 20px 0;
    }
    &:hover {
        color: $theme-color-one;
    }
    & i {
        font-size: 20px;
        line-height: 30px;
    }
}

/*-- Header Search Form --*/
.header-search-form {
    background-color: $white;
    position: absolute;
    border: 1px solid #eeeeee;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -9999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    &.open {
        visibility: visible;
        opacity: 1;
        z-index: 999;
        right: 30px;
    }
    & form {
        position: relative;
        padding-right: 40px;
        & input {
            color: $body-color;
            border: 1px solid transparent;
            height: 40px;
            line-height: 24px;
            padding: 7px 15px;
            width: 300px;
            @media #{$large-mobile}{
               width: 200px;
            }
        }
        & button {
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;
            color: $body-color;
            width: 40px;
            height: 40px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            &:hover {
                color: $theme-color-one;
            }
        }
        & button i {
            font-size: 20px;
            display: block;
            line-height: 40px;
        }
    }
}

/*-- Header Stick --*/
.stick {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: $white;
    box-shadow: 0 0 5px rgba($black, 0.15);
    
    // Header Bottom Wrapper
    & .header-bottom-wrapper {
        @media #{$tablet-device}{
            text-align: right !important;
        }
    
        // Header Bottom Logo
        & .header-bottom-logo {
            display: block;
            padding: 19px 0;
            width: 120px;
            @media #{$tablet-device}{
                width: auto;
            }
            @media #{$large-mobile}{
                padding: 14px 0;
                width: auto;
            }
        }

        // Main Menu
        & .main-menu {
            display: inline-flex !important;
            float: none;
            vertical-align: middle;
            @media #{$tablet-device}{
                margin-right: 30px;
            }
            @media #{$large-mobile}{
                display: none !important;
            }
            & > ul {
                & > li {
                    @media #{$tablet-device}{
                        margin-right: 25px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    & > a {
                        @media #{$tablet-device}{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        
        .mean-bar {
            
            & .meanmenu-reveal {
                right: 0 !important;
                left: auto !important;
                
            }
        }

        // Search Toggle
        & .header-search {
            width: 120px;
            @media #{$tablet-device}{
                width: auto;
            }
            @media #{$large-mobile}{
                width: auto;
                margin-right: 40px;
            }
        }
        
    }
    
}
