/*----------------------------------------*/
/*  10.  Newsletter Section
/*----------------------------------------*/
.newsnetter-section {}

/*-- Subscribe Form --*/
.subscribe-form {
    display: inline-flex;
    box-shadow: 0 0 4px rgba($black, 0.1);
    & input[type="email"] {
        height: 45px;
        width: 364px;
        float: left;
        border: none;
        background-color: $white;
        font-size: 14px;
        line-height: 25px;
        padding: 10px 20px;
        color: lighten($body-color, 15);
        @media #{$large-mobile}{
            width: 250px;
        }
        @media #{$small-mobile}{
            width: 100%;
            text-align: center;
        }
    }
    & .button {
        border: none;
        cursor: pointer;
        float: left;
        height: 45px;
        line-height: 25px;
        padding: 10px 34px;
        background-color: $theme-color-two;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        @media #{$large-mobile}{
            padding: 10px 25px;
        }
        @media #{$small-mobile}{
            width: 100%;
        }
        &:hover {
            background-color: lighten($theme-color-two, 5);
        }
    }
}