/*----------------------------------------*/
/*  5.  Product Section
/*----------------------------------------*/

/*-- Product --*/
.product {
    
    // Image Wrapper
    & .image {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        // Image
        & .img {
            display: flex;
            & img {
                width: 100%;
            }
        }
        // Wishlist
        & .wishlist {
            position: absolute;
            border: none;
            overflow: hidden;
            left: 25px;
            top: 20px;
            border-radius: 50%;
            background-color: $heading-color;
            color: $white;
            display: block;
            width: 40px;
            height: 40px;
            text-align: center;
            z-index: 9;
            &:hover {
                background-color: $theme-color-two;
                color: $white;
            }
            & i {
                font-size: 16px;
                display: block;
                line-height: 42px;
            }
        }
        // Label
        & .label {
            position: absolute;
            right: 30px;
            color: $theme-color-two;
            border-bottom: 1px solid $theme-color-two;
            font-size: 14px;
            text-transform: capitalize;
            display: block;
            top: 33px;
            line-height: 12px;
            padding-bottom: 3px;
        }
    }
    // Content
    & .content {
        padding-top: 21px;
        // Head
        & .head {
            margin-bottom: 20px;
            // Title & Category 
            & .title-category {
                // Title
                & .title {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    margin-bottom: 0;
                    & a {
                        display: block;
                        &:hover {
                            color: $theme-color-two;
                        }
                    }
                }
                // Category
                & .category {
                    display: block;
                    line-height: 20px;
                    font-size: 14px;
                    color: $body-color;
                    &:hover {
                        color: $theme-color-two;
                    }
                }
            }
            // Price
            & .price {
                padding-top: 5px;
                & span {
                    color: $heading-color;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 30px;
                    display: block;
                    float: left;
                    // New
                    &.new {}
                    // Old
                    &.old {
                        font-size: 18px;
                        float: right;
                        margin-left: 10px;
                        text-decoration: line-through;
                        color: $body-color;
                        font-weight: 400;
                    }
                }
            }
        }
        // Action Button
        & .action-button {
            & a {
                background-color: $heading-color;
                color: $white;
                height: 36px;
                line-height: 24px;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 6px 23px;
                border-radius: 5px;
                &:hover {
                    background-color: $theme-color-two;
                }
            }
        }
    }
}