<!-- Page Banner Section Start-->


<div id="main-wrapper" class="section">
    <div class="page-banner-section section" style="background-image: url('/images/ContactImage.jpg')">
        <div class="container">
            <div class="row">

                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>contact us</h1>
                </div><!-- Page Title End -->

            </div>
        </div>
    </div><!-- Page Banner Section End-->
    <!-- Contact Section Start-->
    <div class="contact-section section bg-white pt-120">
        <div class="container">
            <div class="row">

                <div class="col-xl-10 col-12 ml-auto mr-auto">

                    <div class="contact-wrapper">
                        <div class="row">

                            <div class="contact-info col-lg-5 col-12">
                                <h4 class="title">Contact Info</h4>
                                <p>Заповядайте в нашия магазин за подаръци и декорация за дома! Заобиколете се с красота и стил!</p>
                                <ul>
                                    <li><span>Address:</span>Горубляне ,ул.Петър Дипларов 6</li>
                                    <li><span>Phone:</span> 0887 920 776</li>
                                </ul>
                                <div class="contact-social">
                                    <a href="https://www.facebook.com/GiftShopElegantHome"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.linkedin.com/in/tsvetelin-peshev-0a6824200/"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://www.instagram.com/sisi_eleganthomegifts/"><i class="fa fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/GiftShopElegantHome"><i class="fa fa-mobile"></i></a>
                                </div>
                            </div>
                          

                        </div>
                        <br />
                        <div class="container-fluid">
                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=ул.+„Петър+Дипларов“+6,+1138+кв.+Горубляне,+Горубляне" width="700" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                   
                </div>

            </div>
        </div>
  
    </div><!-- Contact Section End-->
    <!-- Contact Map -->

</div>

